.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  border: 3px solid #333;
  border-radius: 5px;
  background-color: azure;
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: blue;
  text-align: center;
  margin: 0;
}

.list-items li:hover {
  color: skyblue;
  cursor: pointer;
}
