body {
  background-color: #1d1c1c;
  color: #fff;
}

.todo-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 3rem;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2px 7px;
  margin: 5px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.7s ease;
}

.add-button {
  background-color: rgba(111, 231, 191, 0.848);
}

.add-button:hover {
  background-color: rgba(111, 231, 191, 0.5);
}

.delete-button {
  background-color: rgba(231, 111, 137, 0.92);
}

.delete-button:hover {
  background-color: rgba(231, 111, 137, 0.5);
}

.up-button {
  background-color: rgba(206, 200, 242, 0.985);
}

.up-button:hover {
  background-color: rgba(206, 200, 242, 0.55);
}

.down-button {
  background-color: rgba(206, 200, 242, 0.985);
}

.down-button:hover {
  background-color: rgba(206, 200, 242, 0.55);
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol {
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  align-items: center;
  background-color: #f0ececec;
}

.text {
  flex: 1;
}

.delete-button,
.up-button,
.down-button {
  padding: 5px 8px;
  font-size: 1.4rem;
  margin-left: 6px;
}
